.app-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #0d1726;
  text-align: center;
}

.app-header {
  border-radius: 0px;
  background-color: black;
  position: absolute;
  margin-top: 0px;
  padding-left: 0px;
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  width: 100%;
  border: solid black 2px;
  padding: 5px;
}

.app-head-text {
  color: #aeb3ba;
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}

.app-cont {
  box-shadow: 0px 5px 15px -1px grey;
  border-radius: 5px;
  background-color: black;
  margin: auto;
  margin-top: 100px;
  width: 1400px;
  height: 1000px;

}

.rowA {
  display: flex;
  box-shadow: 0px 5px 2px -2px #aeb3ba;

  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
}

.invent-cont {
  background-color: #212c3d;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;

  box-sizing: border-box;
  width: 100%;
  border: solid black 2px;
  padding: 5px;
}

.invent-text {
  color: #aeb3ba;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
}

.trans-cont {
 display: flex;
 background-color: #212c3d;
 justify-content: center;
 width: 100%;
 height: 500px;

 box-sizing: border-box;
 width: 100%;
 border: solid black 2px;
 padding: 5px;
}

.trans-text {
  color: #aeb3ba;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
}

.cust-cont {
  margin-top: 5px;
  padding-top: 10px;
  justify-content: center;
  background-color: #212c3d;
  width: 100%;
  height: 500px;

  box-sizing: border-box;
  width: 100%;
  border: solid black 2px;
  padding: 5px;
}

.cust-text {
  color: #aeb3ba;
  /* text-align: left; */
  font-size: 20px;
  font-weight: 200;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
