.app-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1500px;
  background-color: #0d1726;
  text-align: center;
}

.app-header {
  border-radius: 0px;
  background-color: black;
  position: absolute;
  margin-top: 0px;
  padding-left: 0px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  width: 100%;
  border: solid black 2px;
  padding: 5px;
}

.app-head-text {
  margin-top: 5px;
  margin-left: 10px;
  color: #aeb3ba;
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}

.app-cont {
  box-shadow: 0px 5px 15px -1px grey;
  border-radius: 5px;
  background-color: black;
  margin: auto;
  margin-top: 70px;
  width: 1400px;
  height: 1360px;

}

.rowA {
  display: flex;
  box-shadow: 0px 5px 2px -2px #aeb3ba;

  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
}

.temp-cont {
  background-color: #212c3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  box-sizing: border-box;
  width: 100%;
  border: solid black 2px;
  padding: 5px;
}

.temp-text {
  color: #aeb3ba;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
}

.testbutton {
  margin: auto;
  width: 100px;
  height: 50px;
}

.volt-cont {
 display: flex;
 background-color: #212c3d;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 height: 650px;
 align-items: center;
 box-sizing: border-box;
 width: 100%;
 border: solid black 2px;
 padding: 5px;
}

.volt-text {
  color: #aeb3ba;
  text-align: left;
  font-size: 20px;
  font-weight: 200;
}

.speed-cont-out {
  background-color: #212c3d;
  border: solid black 2px;
}

.speed-cont {
  margin-top: 5px;
  padding-top: 10px;
  justify-content: center;
  background-color: #212c3d;
  width: 100%;
  height: 650px;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}

.speed-text {
  height: 100%;
  margin: 0px;
  padding: 20px;
  background-color: #212c3d;
  color: #aeb3ba;
  /* text-align: left; */
  font-size: 20px;
  font-weight: 200;
}

.speed-cont-in {
  display: flex;
  margin-top: -10px;
  padding-left: 50px;
}

.speed-pie {
  background-color: #212c3d;
  margin-top: 10px;
  padding-right: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
