.app-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1500px;
  background-color: white;
  text-align: center;
}

.app-header {
  display: flex;
  border-radius: 0px;
  background-color: black;
  position: absolute;
  margin-top: 0px;
  padding-left: 0px;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  border: solid gray 1px;
  padding: 5px;
}

.app-head-text {
  margin-top: 25px;
  margin-left: 20px;
  color: white;
  text-align: left;
  font-size: 36px;
  font-weight: 700;
}

.app-cont {
  /* border-radius: 5px; */
  background-color: white;
  margin: auto;
  margin-top: 140px;
  width: 1400px;
  height: 1375px;

}

.rowA {
  margin-top: 0px;
  display: flex;

  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
}

.temp-cont {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  /* box-sizing: border-box;
  width: 100%;
  border: solid gray 1px;
  padding: 5px; */
}

.temp-text {
  width: 600px;
  text-align: left;
  font-size: 30px;
  font-weight: 200;
}

.temp-info-cont {
  margin-top: 5px;
  margin-bottom: 20px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  box-shadow: 2px 2px 10px -1px #aeb3ba;
}

.testbutton {
  margin: auto;
  width: 100px;
  height: 50px;
}

.volt-cont {
 display: flex;
 background-color: white;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 height: 650px;
 align-items: center;
 /* box-sizing: border-box;
 width: 100%;
 border: solid gray 1px;
 padding: 5px; */
 /* border: 1px solid; */
 /* border-style: left; */
 /* padding: 10px; */
 /* box-shadow: 5px 10px 8px #888888; */
}

.volt-text {
  width: 600px;
  text-align: left;
  font-size: 30px;
  font-weight: 200;
}

.speed-cont-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px;
  /* box-shadow: 5px 10px 8px #888888; */
}

.speed-cont {
  margin-top: 5px;
  padding-top: 10px;
  justify-content: center;
  background-color: white;
  width: 80%;
  height: 400px;
  box-sizing: border-box;
  width: 885px;
  /* padding: 5px; */
  /* border: 1px solid; */
  /* border-style: outset; */
  /* padding: 10px; */
  /* box-shadow: 5px 10px 8px #888888; */
}

.speed-text {
  height: 100%;
  margin: 0px;
  padding: 20px;
  width: 1300px;
  text-align: left;
  font-size: 30px;
  font-weight: 200;
}

.speed-cont-in {
  display: flex;
  margin-top: -10px;
  height: 450px;
}

.speed-pie {
  background-color: white;
  width: 400px;
  height: 400px;
  margin-top: 15px;
  margin-left: 10px;
}

.speed-info-child-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1295px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 10px -1px #aeb3ba;
  margin-top: -30px;
  margin-bottom: 20px;
  height: 70px;
}

.reset {
  background-color: white;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
