.tempinfo-cont {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 90%;
}

.tempinfo-bold {
  margin: auto;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.tempinfo-light {
  margin: auto;
  text-align: center;
  font-size: 24px;
}
